body{
    background-color:rgb(223, 223, 223);
}

.router-link{
    text-decoration:none;
}

.hovermode1:hover{
    background-color:black;
    color:white !important;
    padding:0.9rem;
    border-radius:1rem;
}

.hovermode2:hover{
    background-color:white;
    color:black !important;
    padding:0.8rem;
    border-radius:1rem;
}

.logout-btn{
    background-color:black;
    padding:0.5rem 1rem !important;
    border-radius:1rem;
}

.logout-btn:hover{
    background-color:grey;
    color:black;
}

.cardtitle{
    font-weight:700;
    font-size:1.2rem;
}

.cardbody{
    background-color:lightgrey;
    /* border-radius: 2rem; */
}

.btitle{
    font-weight: bold;
    border-bottom:1px solid black;
}

.book-area{
    margin:0 2rem;
}

.mybook-title{
    border-bottom:3px solid black;
}

.scale-image{
    transform:scale(0.5);
    margin-top:-18rem;
    margin-bottom:-25rem;
}

.s-carousal{
    background-color:lightgrey;
}

.pop{
    margin-bottom:-4rem;
}

.smenu{
    font-size:1.5rem;
    text-transform:uppercase;
}